body{
    margin: 0%;
    padding: 0%;
    line-height: 1.6em;
}

*{
    box-sizing: border-box;
}

p{
    font-size:16px;
    font-family:open sans;
}

h1{
    font-family: playfair display;
    font-size:28px;
}

a{
    color: gray;
    font-family: open sans;
    font-size: 18px;
}

.aside a:hover{
    border-bottom: 2px solid rgb(224, 86, 86);
}

.butt a:hover{
    background-color: rgb(153, 47, 47);
}

.sidenav {
    width: 0;
    transition: 0.5s;
}
  
.sidenav a {
display: block;
transition: 0.3s;
}

.sidenav a:hover {
color: rgb(153, 47, 47);
}