body{
    margin: 0%;
    padding: 0%;
    line-height: 1.6em;
}

*{
    box-sizing: border-box;
}

p{
    font-size:18px;
    font-family:open sans;
}

h1{
    font-family: playfair display;
    font-size:30px;
}

.sidenav a{
    color: gray;
    font-family: open sans;
    font-size: 20px;
}

.sidenav a:hover{
    border-bottom: 2px solid rgb(224, 86, 86);
}

.cover{
    height: 530px;
}
  

.butt a:hover{
  background-color: rgb(153, 47, 47);
}

.socials a:hover{
    color: rgb(153, 47, 47);
}

.footerlinks a:hover{
    border-bottom: 2px solid rgb(224, 86, 86);
}

img :hover{
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));	
}